.container-cart{
    display: flex;
    background: #fff;
    align-items: center;
    width: 900px;
    border: solid 1px #E4E4E4;
}
.parents{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: #333;
}
.child{
    width: 100px;
    height: 100px;
    background: #eb1414;
}